<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Koara iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Koara macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Koara tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1008A501E16477600419AB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1008A581E16477600419AB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17741351E13FC7600AB88FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A177413E1E13FC7600AB88FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17742201E14F72E00AB88FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17742281E14F72E00AB88FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A177423E1E14F7AF00AB88FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17742461E14F7AF00AB88FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A177425D1E14F84300AB88FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17742651E14F84300AB88FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A177427F1E1516E100AB88FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17742871E1516E100AB88FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17742BE1E15586600AB88FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17742C61E15586700AB88FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17742DA1E1558D000AB88FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A17742E21E1558D000AB88FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A19B5AA41E1C022200213D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A19B5AAC1E1C022200213D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A19B5AE31E24078400213D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A19B5AEB1E24078400213D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A19B5B1E1E253B3700213D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A19B5B261E253B3700213D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B9D2DA1E16E28200BC2DA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B9D2E21E16E28200BC2DA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B9D2F61E17F97A00BC2DA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B9D2FE1E17F97A00BC2DA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1C363AA1E15920C00CC1874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1C363B21E15920C00CC1874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
